
@{
    ViewBag.Title = "cancel_order_momo";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<section class="pt-5">
    <div class="container bg-white">
        <span>Hủy thanh toán thành công <a class="text-danger" href="/trang-chu">Về trang chủ</a></span>

    </div>
</section>


