
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main id="content">
    <div class="mb-5 space-bottom-lg-3">
        <div class="py-3 py-lg-7">
            <h6 class="font-weight-medium font-size-7 text-center my-1">Giới thiệu</h6>
        </div>
        
        <div class="container">
            <div class="mb-lg-8">
                <div class="col-lg-9 mx-auto">
                    <div class="bg-white mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-4">
                        <div class="mb-4 mb-lg-7 ml-xl-4">
                            <h6 class="font-weight medium font-size-10 mb-4 mb-lg-7">Chào mừng bạn đến với cửa hàng nội thất THĐ</h6>
                            <p class="font-weight-medium font-italic">“ Với mong muốn mang đến những sản phẩm nội thất tốt nhất , lần đầu tiên cửa hàng chúng tôi mở trang thương mại điện tử noithatTĐH . Chân trọng cảm ơn ”</p>
                        </div>
                        <div class="mb-4 pb-xl-1 ml-xl-4">
                            <h6 class="font-weight-medium font-size-4 mb-4">Giới thiệu</h6>
                            <p class="font-size-2">Đến với không gian mua sắm trực tuyến, khách hàng có thể dễ dàng tìm thấy những sản phẩm nội thất trực tuyến an toàn, tiện lợi: cách đặt hàng đơn giản</p>
                        </div>
                        <div class="ml-xl-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="font-weight-medium font-size-4">Mục Tiêu</h6>
                                    <p class="font-size-2">Mục tiêu của chúng tôi là luôn mở rộng thị trường nội thất trực tuyến cùng với đà phát triển của công nghệ thông tin. Để thực hiện mục tiêu đó, chúng tôi đã có những nhận thức đúng đắn về vai trò của nguồn nhân lực trong xây dựng và phát triển kinh doanh. Chúng tôi đã và đang không ngừng hoàn thiện hơn nữa môi trường làm việc với các trang thiết bị hiện đại, cung cách làm việc hiệu quả để ngày càng hoàn thiện việc phục vụ khách hàng.</p>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="font-weight-medium font-size-4">Thông tin của hàng</h6>
                                    <p class="font-size-2">Địa chỉ: 475 Điện Biên Phủ,Quận Bình Thành,Quận Bình Thạnh,TPHCM</p>
                                    <a href="" class="font-size-2 d-block link-black-100 mb-1">Email: noithatTHĐ@gmail.com</a>
                                    <a href="" class="font-size-2 d-block link-black-100">Số điện thoại: +84 919615474</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</main>

